<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<http auto-config="true">
<!-- 		<intercept-url pattern="/cart/**" access="isAuthenticated()" /> -->
<!-- 		<intercept-url pattern="/dish/**" access="isAuthenticated()" /> -->
<!-- 		<intercept-url pattern="/dish/view/user**" access="isAuthenticated()" /> -->
<!-- 		<intercept-url pattern="/dish/add/user**" access="isAuthenticated()" /> -->
<!-- 		<intercept-url pattern="/form_dish_add_step2/**" access="isAuthenticated()" /> -->
<!-- 		<intercept-url pattern="/health/**" access="isAuthenticated()" /> -->
<!-- 		<intercept-url pattern="/order/**" access="isAuthenticated()" /> -->
<!-- 		<intercept-url pattern="/payment/**" access="isAuthenticated()" /> -->
<!-- 		<intercept-url pattern="/profile/**" access="isAuthenticated()" /> -->
<!-- 		<intercept-url pattern="/restaurant/**" access="isAuthenticated()" /> -->
<!-- 		<intercept-url pattern="/search/**" access="isAuthenticated()" /> -->
<!-- 		<intercept-url pattern="/customer/**" access="isAuthenticated()" /> -->
<!-- 		<intercept-url pattern="/welcome_login/**" access="isAuthenticated()" /> -->
		
<!-- 		<intercept-url pattern="/cart/**" access="isAuthenticated()" /> -->
<!-- 		<intercept-url pattern="/cart/add" access="isAuthenticated()" /> -->
<!-- 		<intercept-url pattern="/dish/**" access="isAuthenticated()" /> -->
<!-- 		<intercept-url pattern="/dish/view/**" access="isAuthenticated()" /> -->
<!-- 		<intercept-url pattern="/dish/add/**" access="isAuthenticated()" /> -->
<!-- 		<intercept-url pattern="/form_dish_add_step2/**" access="isAuthenticated()" /> -->
<!-- 		<intercept-url pattern="/health/view/**" access="isAuthenticated()" /> -->
<!-- 		<intercept-url pattern="/home/**" access="isAuthenticated()" /> -->
<!-- 		<intercept-url pattern="/order/**" access="isAuthenticated()" /> -->
<!-- 		<intercept-url pattern="/order/view/**" access="isAuthenticated()" /> -->
<!-- 		<intercept-url pattern="/payment/**" access="isAuthenticated()" /> -->
<!-- 		<intercept-url pattern="/profile/view/**" access="isAuthenticated()" /> -->
<!-- 		<intercept-url pattern="/profile/**" access="isAuthenticated()" /> -->
<!-- 		<intercept-url pattern="/search/**" access="isAuthenticated()" /> -->
<!-- 		<intercept-url pattern="/welcome_login/**" access="isAuthenticated()" /> -->

			<intercept-url pattern="/**" access="isAuthenticated()" />  
			<intercept-url pattern="/**/**" access="isAuthenticated()" />  
			<intercept-url pattern="/**/**/**" access="isAuthenticated()" />  
			<intercept-url pattern="/**/**/**/**" access="isAuthenticated()" /> 
<!-- 			<intercept-url pattern="/" access="none" />  -->
<!-- 			<intercept-url pattern="/welcome*" access="none" />   -->
<!-- 			<intercept-url pattern="*.jpg" access="none" />   -->
<!-- 			<intercept-url pattern="*.css" access="none" />   -->
<!-- 			<intercept-url pattern="*.js" access="none" />   -->
<!-- 			<intercept-url pattern="*.png" access="none" />  -->
<!-- 			<intercept-url pattern="*.gif" access="none" />   -->

		<!-- <form-login /> -->
		<!-- <logout /> -->
	</http>
	
	<jdbc-user-service id="userService1"
		data-source-ref="dataSource" />
<!-- 		users-by-username-query= -->
<!-- 		"SELECT USERNAME, PASSWORD, STATUS FROM ACCOUNT_INFO WHERE USERNAME = ?" /> -->
<!-- 		authorities-by-username-query= -->
<!-- 		"select b.logName username,rolename from users_roles a,users b,roles c where a.userId=b.userId and a.roleId=c.roleId and b.logName=?" /> -->
	
	<authentication-manager>
    	<!-- in-memory authentication provider, only useful for prototype applications that don't require complex security infrastructure -->
        <authentication-provider user-service-ref="userService1"/>
<!--  		<authentication-provider> -->
<!--             <user-service> -->
<!--                 <user name="user" password="password" authorities="" /> -->
<!--             </user-service> -->
<!--         </authentication-provider> -->
    </authentication-manager>	
</beans:beans>
