<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="tht_hibernate_session_factory">
  <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  <property name="hibernate.connection.password">oracle_user1</property>
  <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
  <property name="hibernate.connection.username">oracle_user1</property>
  <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
  
	<mapping resource="com/embio/tht/configueration/Users.hbm.xml"/>
	<mapping resource="com/embio/tht/configueration/Allergy.hbm.xml"/>
	<mapping resource="com/embio/tht/configueration/Calorie.hbm.xml"/>
	<mapping resource="com/embio/tht/configueration/Cards.hbm.xml"/>
	<mapping resource="com/embio/tht/configueration/CartItem.hbm.xml"/>
	<mapping resource="com/embio/tht/configueration/CartItemUnit.hbm.xml"/>
	<mapping resource="com/embio/tht/configueration/Dish.hbm.xml"/>
	<mapping resource="com/embio/tht/configueration/DishIngredientItem.hbm.xml"/>
	<mapping resource="com/embio/tht/configueration/EatingHabbit.hbm.xml"/>
	<mapping resource="com/embio/tht/configueration/FinanceItem.hbm.xml"/>
	<mapping resource="com/embio/tht/configueration/Ingredient.hbm.xml"/>
	<mapping resource="com/embio/tht/configueration/Location.hbm.xml"/>
	<mapping resource="com/embio/tht/configueration/OrderInfo.hbm.xml"/>
	<mapping resource="com/embio/tht/configueration/OrderItem.hbm.xml"/>
	<mapping resource="com/embio/tht/configueration/OrderItemDish.hbm.xml"/>
	<mapping resource="com/embio/tht/configueration/Payment.hbm.xml"/>
	<mapping resource="com/embio/tht/configueration/Role.hbm.xml"/>
	<mapping resource="com/embio/tht/configueration/Survey.hbm.xml"/>
	<mapping resource="com/embio/tht/configueration/SystemInfo.hbm.xml"/>
	<mapping resource="com/embio/tht/configueration/Ticket.hbm.xml"/>
	<mapping resource="com/embio/tht/configueration/Customer.hbm.xml"/>
	<mapping resource="com/embio/tht/configueration/Restaurant.hbm.xml"/>
	<mapping resource="com/embio/tht/configueration/Authorities.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
